.container{
  border: 1px solid #000;
  margin: 20px;
  padding: 10px;
}

/* 静态伪类 */
.link:link {
  color: red;
}
.link:visited {
  color: black;
}

/* 动态伪类 */
.text:hover {
  color: red;
}
.input:focus {
  color: blue;
}
.button:active {
  background: green;
}

/* 目标伪类 */
.page:target {
	border: 2px solid #D4D4D4;
	background-color: #e5eecc;
}

/* 元素状态伪类 */
.checked:checked + label {
  color: red;
}
.able:enabled
{
	background:#ffff00;
}
.able:disabled
{
	background:#dddddd;
}

/* 否定伪类 */
.not p:not(.no) {
  color: aquamarine;
}